<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
       default-init-method="init" default-destroy-method="destory">

    <!--开启注解扫描-->
    <context:annotation-config></context:annotation-config>
    <context:component-scan base-package="example.ioc.lifecyclecallback"/>

    <!--
    init-method="intMethod" 类初始化回调
    depends-on="" A类初始化要依赖B类
    lazy-init="default" 类懒加载
    destroy-method="destoryMethod" 类销毁回调
    -->

    <bean id="indexDaoAnotherImpl" name="indexDaoAnotherImpl" class="example.ioc.lifecyclecallback.dao.impl.IndexDaoAnotherImpl"
          init-method="intMethod"
          destroy-method="destoryMethod"/>

</beans>